@model NewOrderPayload


<h1>Thank you for your order</h1>
<h4>Order number is: @Model.OrderNumber</h4>


           


<div class="address-block">
    <h4>Billed To:</h4>
    <address>
        @Model.OrderCustomer.FirstName @Model.OrderCustomer.LastName <br/>
        @Model.OrderCustomer.Email <br/>
        @Model.OrderCustomer.Phone <br/>
    </address>
</div>


<h4>Your oder production time is @Model.</h4>
<div class="address-block">
    <h4>Shipping To:</h4>
    <address>

        @Model.Shipments[0].FirstName @Model.Shipments[0].LastName <br/>
        @Model.Shipments[0].CompanyName <br/>
        @Model.Shipments[0].Address1
        @Model.Shipments[0].Address2 <br/>
        @Model.Shipments[0].City, @Model.Shipments[0].State @Model.Shipments[0].PostalCode <br/>
        @Model.Shipments[0].CountryCode <br/>
    </address>
</div>
<h4>Order Summary</h4>